# Local runtime data
/data/raw/*
/data/processed/*
/data/raw/.gitkeep
/data/processed/.gitkeep

# ML artifacts
/ml/saved_models/*
/ml/saved_models/.gitkeep

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.env

# Node
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Docs generated
/docs/architecture.png
